body{
    margin:0;
    padding:0;
}

*,*::before,::after{
    box-sizing: border-box;
}
:root{

--oswald : 'Oswald', sans-serif;
--Montserrat: 'Montserrat', sans-serif;
}
.wrapper{
    background-color: #3B4050;
    }

img{
    max-width: 100%;
}
.first{
    padding: 2rem 0;
}

.first_heading{
   
    font-family:var(--oswald);
    font-size: 2rem;
    color:#A59678;
}

.first_content{
  
    color: white;
    font-family:var(--Montserrat);
    
}
.first_button{
    margin-top:1rem;
    font-size: 24px;
    border:none;
    font-family: var(--oswald);
    color: white;
    background-color: #A59678;
    border-radius: 900px;
    padding:.5rem 2rem;
}

span{
    color:white
}



.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.third{
    line-height: 1.6;
}

.third_left h1,.third_left p{
    margin:0;
}

.third_right h2,.third_right p{
    margin:0;
}

.third_left h1{
    font-size: 3rem;
    color:#A59678 ;
    margin-top:2rem;
    font-family: var(--oswald);
}
.third_left p{
    font-family: var(--Montserrat);
    margin:2rem 0 1rem 0;
}

.third_right>div{
    padding:2rem;
    background-color: #3B4050;
    text-align: center;
}

.third_right{
    color:white;
}

.third_right h2{
    font-family: var(--oswald);
}

.third_right p{
    font-family: var(--Montserrat);
}

.third_right>div{
    margin-top: 1rem;
}

.second_row h2{
    margin-bottom: 1rem;
    color:#A59678;
    font-family: var(--oswald);
    font-size: 30px;
}
.second_row p{
    font-size: 18px;
    font-family: var(--Montserrat);
}

.bottom2{
    padding:3rem 0;
    margin-top: 2rem;
}
.top{
    font-family: var(--oswald);
    color: white;
    font-size: 42px;
    text-align: center;
}
.bottom h2{
   
    font-family: var(--oswald);
    color: #A59678;
}

.bottom p{
    
    font-family: var(--Montserrat);
    color: white;
}

















@media (min-width:700px){
    .first_heading{
        margin:0;
        font-family:var(--oswald);
        font-size: 2rem;
        color:#A59678;
    }
    
    .first_content{
        margin:0;
        color: white;
        font-family:var(--Montserrat);
        
    }
    span{
        color:white
    }
.wrapper{
    background-color: #3B4050;
}
.first{
    display: flex;
    padding:4rem 0;
}
.right{
margin-left: auto;
    width: 40%;
    align-self: flex-end;
}
.first_content{
    font-size:  1.5rem;
    font-family:var(--Montserrat);
    line-height: 1.2;
  
}
.first_heading{
    font-size: 4rem;
    width: 50%;
}

.first_button{
    margin-top:1rem;
    font-size: 24px;
    border:none;
    font-family: var(--oswald);
    color: white;
    background-color: #A59678;
    border-radius: 900px;
    padding:.5rem 2rem;
}



.second{
    background-color: #F1F1F1;
    text-align: center;
 display:block;
}

.second_row{
    
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.second_row>div{
    width: 30%;
}
.second_row h2{
    margin-bottom: 1rem;
    color:#A59678;
    font-family: var(--oswald);
    font-size: 30px;
}
.second_row p{
    font-size: 18px;
    font-family: var(--Montserrat);
}

.third{
    margin-top:2rem;
    display: flex;
    justify-content: space-between;
}

.third_left{
    width: 60%;
}
.third_right{
    width: 30%;
}

.third_right h2{
    margin-bottom: 1rem;
}

.third_left h1{
    margin:0;
    font-size: 36px;
}

.third_left p{
    font-size: 21px;
}
.third_right>div:nth-child(1){
    margin:0;
}

footer{
    padding:4rem 2rem;
}

.bottom2{
    display: block;
}
.bottom{
    
    display: flex;
    justify-content: space-between;
}
.top{
    font-family: var(--oswald);
    color: white;
    font-size: 42px;
    text-align: center;
}
.bottom h2{
    text-align: center;
    font-family: var(--oswald);
    color: #A59678;
}

.bottom p{
    text-align: center;
    font-family: var(--Montserrat);
    color: white;
}
.bottom div:nth-child(1){
width: 30%;
}
.bottom div:nth-child(2){
    width:20%;
}
.bottom div:nth-child(3){
    width: 20%;
}
.bottom div:nth-child(4){
    width: 20%;
}
}