body{
    margin:0;
    padding:0;
}

*,*::before,::after{
    box-sizing: border-box;
}
:root{

--oswald : 'Oswald', sans-serif;
--Montserrat: 'Montserrat', sans-serif;
}
.nav_button{
    padding: 0;
    border: none;
    background-color: transparent;
}
.nav_button span{

    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin:  7px 0 7px 0;
    transition: transform 0.7s;
}
.nav{
    padding: 1rem 0;
    background-color: #2E323F;
}

ul{
    list-style: none;
}

.nav_small{
   
    padding:.5rem 0;
    display: flex;
    align-items: center;
    
}
.nav_small img{
    
    margin:0 auto;
}

.nav_list{
    display:none;
}




.nav_list.active{
    display:block;
    color: white;
    font-family: var(--oswald);
    text-align: center;
    
}

.nav_button.active .line:nth-child(1){
    transform:  translateY(10px) rotate(45deg);
    }

    .nav_button.active .line:nth-child(2){
        opacity: 0;
        }
    .nav_button.active .line:nth-child(3){
        transform:  translateY(-10px)   rotate(-45deg);
        }



.wrapper{
    background-color: #3B4050;
    }

img{
    max-width: 100%;
}
.first{
    padding: 2rem 0;
}

.first_heading{
   
    font-family:var(--oswald);
    font-size: 2rem;
    color:#A59678;
}

.first_content{
  
    color: white;
    font-family:var(--Montserrat);
    
}
.first_button{
    margin-top:1rem;
    font-size: 24px;
    border:none;
    font-family: var(--oswald);
    color: white;
    background-color: #A59678;
    border-radius: 900px;
    padding:.5rem 2rem;
}

span{
    color:white
}



.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.third{
    line-height: 1.6;
}

.third_left h1,.third_left p{
    margin:0;
}

.third_right h2,.third_right p{
    margin:0;
}

.third_left h1{
    font-size: 3rem;
    color:#A59678 ;
    margin-top:2rem;
    font-family: var(--oswald);
}
.third_left p{
    font-family: var(--Montserrat);
    margin:2rem 0 1rem 0;
}

.third_right>div{
    padding:2rem;
    background-color: #3B4050;
    text-align: center;
}

.third_right{
    color:white;
}

.third_right h2{
    font-family: var(--oswald);
}

.third_right p{
    font-family: var(--Montserrat);
}

.third_right>div{
    margin-top: 1rem;
}
.pi{
    padding:4rem 0 0 0;
}

.second_row h2{
    margin-bottom: 1rem;
    color:#A59678;
    font-family: var(--oswald);
    font-size: 30px;
}
.second_row p{
    font-size: 18px;
    font-family: var(--Montserrat);
}

.bottom2{
    padding:3rem 0;
    margin-top: 2rem;
}
.top{
    font-family: var(--oswald);
    color: white;
    font-size: 36px;
    text-align: center;
}
.bottom{
    display:flex;
    justify-content: space-between;
}

.bottom h2{
    text-align: center;
   font-size: 1rem;
    font-family: var(--oswald);
    color: #A59678;
}

.bottom p{
    text-align: center;
    font-size: .8rem;
    font-family: var(--Montserrat);
    color: white;
}


.bottom div:nth-child(1){
    width: 30%;
    }
    .bottom div:nth-child(2){
        width:20%;
    }
    .bottom div:nth-child(3){
        width: 20%;
    }
    .bottom div:nth-child(4){
        width: 20%;
    }













@media (min-width:700px){
  .nav_button{
      display: none;
  }
.first_heading{
    margin-bottom: 0;
}
.first{
    display: flex;
    padding:2rem 0;
}
.right{
    margin-left: auto;
    width: 40%;
    align-self: flex-end;
}
.first_content{
    font-size:  1.5rem;
    font-family:var(--Montserrat);
    line-height: 1.2;
  
}
.first_heading{
    font-size: 4rem;
    width: 50%;
}

.first_button{
    margin-top:1rem;
    font-size: 24px;
    border:none;
    font-family: var(--oswald);
    color: white;
    background-color: #A59678;
    border-radius: 900px;
    padding:.5rem 2rem;
}
.row{
    display: flex;
    justify-content: space-between;
}
.nav_small{
    display: block;
}
.nav_list{
    display: flex;
    margin:0;
    font-family: var(--oswald);
    color: white;
    align-items: center;
}
.nav_list_left{
    display: flex;
}

.nav_list_right{
    align-items: center;
    display: flex;
    margin-left: 2rem;
}
li + li{
    margin-left: 1rem;
}

.spl{
    padding:.2rem 2rem;
    border-radius: 900px;
    background-color: #A59678;
    color: white;
}




.second{
    background-color: #F1F1F1;
    text-align: center;
 display:block;
}

.second_row{
    
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.second_row>div{
    width: 30%;
}
.second_row h2{
    margin-bottom: 1rem;
    color:#A59678;
    font-family: var(--oswald);
    font-size: 30px;
}
.second_row p{
    font-size: 18px;
    font-family: var(--Montserrat);
}

.third{
    margin-top:2rem;
    display: flex;
    justify-content: space-between;
}

.third_left{
    width: 60%;
}
.third_right{
    width: 30%;
}

.third_right h2{
    margin-bottom: 1rem;
}

.third_left h1{
    margin:0;
    font-size: 36px;
}

.third_left p{
    font-size: 21px;
}
.third_right>div:nth-child(1){
    margin:0;
}

footer{
    padding:4rem 2rem;
}

.bottom2{
    display: block;
}
.bottom{
    
    display: flex;
    justify-content: space-between;
}
.top{
    font-family: var(--oswald);
    color: white;
    font-size: 42px;
    text-align: center;
}
.bottom h2{
    font-size: 21px;
    text-align: center;
    font-family: var(--oswald);
    color: #A59678;
}

.bottom p{
    font-size: 16px;
    text-align: center;
    font-family: var(--Montserrat);
    color: white;
}


}


@media(min-width:1000px){
    .nav_button{
        display: none;
    }

    .third{
    
    display: block;
}
.third_left{
    width: 100%;
}
.third_right{
    width:100%;
    display: flex;
    justify-content: space-between;
}



.third_right div{
    margin:0;
}
.third_right>div:nth-child(2) , .third_right>div:nth-child(3){
    margin-left:1rem;
}
}